.site-content {

	@include md {
		padding-top: 175px;
	}



}

.single-post {

	background: #F0EEF0;

	.site-content {

		padding-top: 144px;
		padding-bottom: 144px;

		.wp-block-quote {
			p {
				font-size: 1.2em;
			}
		}


		p {
			font-size: 1em;
		}

	}

}

.page {

	background: #F0EEF0;

	a {
		color: #161616;
		font-weight: 500;
	}

}

.contact-details {
	padding-top: 150px;
	padding-bottom: 150px;

	font-size: .8em;

}



.blog-single {

	padding-top: 50px;

	@include lg {
		padding-top: 144px;
	}

	p {
		max-width: 1140px;
		margin: 0 auto 3em !important;
	}

	p.dentry {

		display: block;
		max-width: 1140px;
		margin: 0 auto 1em !important;

	}

	figure.size-large {
		max-width: 1140px;
		margin: 0 auto 3em;

		img {
			width: 100%;
		}

	}

	figure.size-full {
		width: 100%;
		margin-bottom: 3em;

		img {
			width: 100%;
		}

	}


}

.sticky {
	display: block;
}

.hentry {

	display: block;
	max-width: 1140px;
	margin: 0 auto 1em;

}



.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
